# node
node_modules
dist
.env

# frontend
apps/frontend/node_modules
apps/frontend/dist

# backend
apps/backend/node_modules
apps/backend/dist

# generated (prisma / openapi / etc)
apps/backend/src/generated/

# misc
.DS_Store

cookie*.txt
cookies*.txt
