@use "../../styles/variables" as *;

.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  border-radius: 30px;

  cursor: pointer;
}

.icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.label {
  line-height: 1;
}

.primary {
  background: var(--color-primary);
  color: var(--color-white);
  border: none
}

.secondary {
  background: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
