#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tabs {
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.listings {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
