#root {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
